@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*,
*::after,
*::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Roboto;
    
}

:root{
    /*colors*/
    --primary-blue:rgb(120, 83, 247);
    --primary-blue-hover:rgb(103, 85, 160);
    --gray-background:rgba(227, 230, 237, 0.312);
    /*text colors*/
    --main-text-color:black;
    --sub-text-color:grey;
    --light-text-color:snow;

    /*font size*/
    --font-size-sm:0.9rem;
    --font-size-md:0.9rem;
    --font-size-lg:1.2rem;
    --font-size-xl:2rem;
    --font-size-xxl:3rem;

    /*font weight*/
    --font-weight-light:500;
    --font-weight-bold:600;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    margin: 6.2rem 0;
    
 }
.container{
    margin:1.5rem 11rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;  
}
.btn{
    border: none;
    padding: 0.6rem;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: var(--primary-blue);
    color: var(--light-text-color);
    font-size: var(--font-size-md);
}
.btn:hover{
    background-color: var(--primary-blue-hover);
}

/*fonts*/
.paragraph__text{
    color: var(--sub-text-color);
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-md);
    line-height: 1.2rem;
}
.sub-paragraph{
    color: var(--sub-text-color);
    font-size: var(--font-size-md);
    line-height: 1.4rem !important;
    
}
.section__title{
    font-weight:100px;
    font-size: var(--font-size-xxl);
    margin-bottom: 0.5rem;
}
.section__subtitle{
    font-size: var(--font-size-lg);
   font-weight: var(--font-weight-bold);
    line-height: 3rem;
}


/*navbar*/


.logo{
    height:3.8rem;
}
.nav__list{
    display: flex;
    gap: 2.7rem;
}
.nav__item{
    
}
.nav__link{
    font-size: var(--font-size-md);
    color: var(--main-text-color);
    transition: all 0.3s ease 0s;
}
.nav__link:hover{
    color: var(--primary-blue);
}





/*hero*/
.hero__title{
    font-size: 4.5rem;
}

/*progress*/
.process{
    gap:1.5rem !important
}
.process-icon{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    padding:1rem;
    
}

.process-tag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 14rem;
    background-color: var(--gray-background);
    
    border-radius: 0.5rem;
    padding: 2rem 1rem;
    transition: all 0.3s ease-in-out;
}

.process-tag:hover{
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 5px 5px 10px 0px rgba(126, 124, 124, 0.678);
}

.daily-icon{
    background-color: rgb(241, 172, 93);
}
.security-icon{
    background-color: rgb(157, 157, 226);
}
.testing-icon{
    background-color: rgb(238, 95, 95);
}

/*mobile*/
.mobile{
    background-color: var(--gray-background);
    height: 26.5rem;
    margin: 20rem 0;
}
.mobile .container{
    justify-content: center !important;
    position: relative;
     
    top: -7rem;
    
}


.mobileapp-img{
    height: 40rem;
}
.mobileapp-features{
    background-color: white;
    height: fit-content;
    padding: 0.4rem 2.5rem;
    padding-bottom: 1rem;
    width: 35rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
   
}
.mobileapp-icon{
    height: 2.5rem;
    padding: 0.4rem;
    border-radius: 0.3rem;
}
.mobileapp-item{
    width: 14rem;
}
.mobileapp-wrap{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 2rem;

}
.icon1{
    background-color: rgb(148, 216, 148);
}
.icon2{
    background-color: rgb(148, 180, 216);
}

/* customize offer*/

.customize-offers{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    
}

.customize-offers-img{
    height: 27rem;
}


.mo-tags{
    width: 27rem;
    padding: 0.5rem 1.5rem;
    padding-bottom: 1.5rem;
    border-left: 0.2rem solid ;
    box-shadow: 0px 0px 10px 0px rgb(212, 212, 212);
    border-radius: 0.4rem;
    transition: all 0.3s ease-in-out ;
}
.mo-tags:nth-child(1){
    border-color: orange;
}
.mo-tags:nth-child(2){
    border-color: purple;
}
.mo-tags:nth-child(3){
    border-color: green;
}
.mo-tags:hover{
    cursor: pointer;
    transform: translateX(1rem);
    background-color: rgba(0, 0, 0, 0.007);
     
}

/*web*/
.icon3{
    background-color: rgba(107, 83, 247, 0.884);
}
.icon4{
    background-color: rgba(255, 176, 85, 0.836);
}
.web{
    background-color: rgba(252, 240, 240, 0.575);
    position: relative;
}
.web-img{
   width:40rem;
}
.circle-green{
    width: 15rem;
    height: 15rem;
    background-color: rgb(80, 144, 80);
    border-radius: 50%;
    position:absolute;
    right:5rem;
    bottom: 1rem;
    z-index: -1;
}

/*signup*/

.circle{
    width: 25rem;
    height: 8rem;
    border-radius: 60%;
    background: linear-gradient(180deg,rgba(237, 164, 16, 0.079) ,rgb(255, 252, 246) ,rgba(255, 252, 246, 0.819) );
    position: absolute;
    right: 0rem;
    bottom: 0rem;
   
}

.circle2{
    width: 30rem;
    height: 5rem;
    left: 0rem !important;
     
}
.signup{
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: -4rem;
    
}
.signup .container{
    padding-left: 6rem;
    width: 65rem;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 10px 8px -5px rgba(178, 177, 177, 0.51);
    border-radius: 0.8rem;
}
.signup .container .signup-item .paragraph__text{
    line-height: 3rem;
}
.signup-img{
   width:35rem;
}

/*footer*/
.footer{
    background-color: rgb(255, 252, 246);
    position: relative;
    display: flex;
    align-items: flex-end;
    
    height: 30rem;
    bottom: -1.3rem;
}
.footer-col{
   width:25%;
  
  
}
.footer-col:nth-child(2) ,
.footer-col:nth-child(3) {
    
    width:fit-content;
}
.footer-col > .paragraph__text{
    position: relative;
    width: fit-content;
     padding: 2px;
   
    
   
}
.footer-col > .paragraph__text:hover{
    cursor: pointer;
    color: var(--primary-blue-hover);
}
.footer-col > .paragraph__text::before{
    content: "";
    position: absolute;
    bottom: 2px;
    width: 100%;
    display: block;
    border-bottom: 2px solid var(--primary-blue-hover);
    transform: scale(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
    
}
.footer-col > .paragraph__text:hover::before{
   
   transform: scale(1);
   transform-origin: left;
}
.icon-grp{
    display: flex;
    gap: 1rem;
}

.icon-grp a{
    
    color: orange;
    outline: 2px solid orange;
    border: 3px solid transparent;
    margin-right: 0.2rem;
    border-radius: 50%;
    padding: 7px;
    padding-bottom: 4px;
    transition-property: "border-color";
    transition: 0.4s ease-in-out;
    
}
.icon-grp a:hover{
    border-color: orange;
    
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.295);
}

.footer-col p{
    margin: 1.2rem 0;
}
.footer__input{
    position: relative;
    
    
}
.footer__input input{
    font-size: var(--font-size-md);
    padding: 0.7rem;
    border: 2px solid var(--primary-blue-hover);
    border-radius: 0.4rem;
    outline: none;
    width: 17.4rem;
}
.footer__input button{
    position: absolute;
    top: 0.2rem;
    right: 0;
}
